.backDiv{
    margin-left:148px;
    margin-top:60px;
    margin-bottom: 60px;

}



.contentContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 80px;
   
}

.listContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:24px;
}